* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.row_poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 20px;
}

.row_poster:hover {
    transform: scale(1.08);
}

.row_poster::-webkit-scrollbar {
    display: none;
}

.row_posterLarge {
    max-height: 250px;
}

.row_posterLarge:hover {
    transform: scale(1.09);
}

.row {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

.banner {
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 448px;
}

.banner_contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
}

.banner_button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner_button:hover {
    color: black;
    background-color: white;
    transition: all 0.2s;
}

.banner--fadeBottom {
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61), black);
}

.nav_logo{
    width: 80px;
    object-fit: contain;
}

.nav_avatar {
    width: 30px;
    object-fit: contain;
}

.navs {
    position: fixed;
    top: 0;
    width: 100%;  
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.2s;
}

.nav_black {
    background-color: #111;
    opacity: 90%;
    box-shadow: rgb(42, 42, 42);
}

.search_bar {
    width: 100%;
    max-width: 700px;

}

.btn {
    color: #d81515;
    border-color: #111;
    
}

.btn:hover {
    color: black;
    background: rgb(255, 0, 0);;
    opacity: 65%;
    border-color: black;
}

.form-control {
    opacity: 100%;
}

.nav-link {
    color: rgb(255, 255, 255);
    opacity: 100%;
}

.nav-link:hover {
    color: rgb(255, 0, 0);
    opacity: 65%;
}

.navbar-toggler:hover {
    background: rgb(255, 0, 0);;
    opacity: 65%;
}


.dropdown-item:hover {
    color: #d81515;
}